@import 'sass/shared.scss';
.game-status-container {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    position: absolute;
    top: 0;
    font-weight: bold;
    font-size: 1rem;
    width: 100%;
    &>div {
        float: left;
        padding: 10px;
    }
    & button {
        height: 1rem;
    }
    & svg {
        fill: #fff;
    }
}