.info{
    margin:auto;
    background-color: white;
	text-align: center;
}

.info ul{
	list-style-type: none;
	margin:0;
	margin-top:5%;
	padding: 0;
}

.info li{
	margin:0;
	padding:10px;
	font-weight: bold;
	font-size:20px;
}

.info li:hover{
	text-decoration: underline;
	cursor:pointer;
}