@import 'sass/shared.scss';
#info-options {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    position: absolute;
    top: 0;
    font-weight: bold;
    font-size: 1rem;
    width: 100%;
    &>div {
        float: left;
        padding:0px 5px 0px 0px;
    }
    & button {
        height: 1rem;
    }
    & svg {
        fill: #fff;
    }
    .countdown,
    .catchables {
        min-width: 88px;
        font-size: 1.1rem;
        padding: 8px 16px;
        text-align: center;
        svg{
            vertical-align: middle;
            height:1.1rem;
        }
    }



}